<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.andrix.proof.artifactpayload" android:versionCode="1" android:versionName="0.1-lab">
    <uses-sdk android:minSdkVersion="37" android:targetSdkVersion="37" />
    <application android:label="Andrix signed artifact payload" android:allowBackup="false"
        android:supportsRtl="true" />
    <instrumentation android:name=".ArtifactPayload"
        android:targetPackage="dev.andrix.proof.artifactpayload" />
</manifest>
